.box1{
    background-color: #9c7b53;
    height:800px;
    width:500px;
    border-radius: 100px;
    margin:auto;

}
 h1{
    text-align: center ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blanchedalmond;

}
header{
    background-color: #c2b673;
}
.box1 img {
   height:500px;
   width:300px;
   border-radius: 100px;
   padding-left: 100px;

}
p { text-align: center;
    font-size: x-large;
}
h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.elephant{
    height:800px;
    width: 500px;
    background-image:url(./Jordan\ III\ Elephant\ Print.jpg) ;
    color: aliceblue;

}